{% extends "base_template.html" %}

{% block title %}Edit Community{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('community.update_community', community_id=community.id) }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=32, placeholder='Update community name') }}
        <small class="text-muted">* The community name must be unique.</small>
    </div>
    <div>
        {{ form.description.label }}<br>
        {{ form.description(rows=5, placeholder='Update community description') }}
    </div>
    <div>
        {{ form.submit(value='Save Changes') }}
    </div>
</form>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('community.scripts') }}"></script>
{% endblock %}
